# --- Logic & Math ---
# Lock NumPy to 1.x to avoid the _ARRAY_API error
numpy>=1.23.0,<2.0
scipy
pandas
chumpy==0.70

# --- Core Action Recognition (MMStack) ---
# mmcv-full==1.7.0
# mmdet==2.23.0
mmdet
# mmpose==0.24.0
# mmpose
# xtcocotools==1.13
xtcocotools
pycocotools==2.0.6

# --- Vision & Media ---
pillow
imageio
imageio-ffmpeg
moviepy==1.0.3

# --- JAX (Cluster Optimized) ---
jax
jaxlib

# --- Utils ---
# Keep setuptools low to avoid the pkg_resources removal bug
setuptools<70
tqdm
pyyaml
terminaltables
tabulate
yacs
addict

ultralytics
scikit-learn
seaborn